aside{
    background: rgb(150,150,150);
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: solid 1px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    align-items: center;
}

#ingrediente-pesquisa{
    height: 24px;
    padding: 3px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
}

.aside-search-wrapper {
    height: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#button-pesquisa-aside {
    border: solid 1px rgb(150, 50, 250);
    border-radius: 8px;
    justify-content: flex-start;
    background: rgba(150, 150, 250, 0.3);
    width: 50px;
    height: 50px;
}
