body{
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg,#000000, #181818, #686868, #181818, #000000);
    background-size: 500%, 500%;
    animation: colors 10s ease infinite;
}

@keyframes colors {
    0% {
        background-position: 0% 100%;
    }
    25% {
        background-position: 50% 50%;
    }
    50% {
        background-position: 100% 0%;
    }
    75% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 100%;
    }
}

.filter-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    
}

.filter-wrapper .home {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 50px;
}
.filter-wrapper .search {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 50px;
}

.filter-wrapper .home > button, .filter-wrapper .search > button{
    border: none;
    border-radius: 8px;
    justify-content: flex-start;
    background: rgba(150, 150, 250, 0.3);
    width: 50px;
    height: 50px;
}

.filter-wrapper .search > button:hover{
    background-color: rgb(0, 255, 255);
    transition: all .5s;
}

.filter-wrapper .search > input, .filter-wrapper .search > select{
    border-radius: 8px;
    width: 200px;
    height: 24px;

}

.item-wrapper{
    background-color: rgb(173, 216, 216);
    width: 350px;
    height: 250px;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
}

.item-wrapper > h3{
    color: #181818;
}

.item-wrapper .gender{
    display: flex;
}

.item-wrapper:hover{
    background-color: rgb(0, 255, 255);
    transition: all 1.5s;
}

#root{
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: center;
    padding: 56px;
    gap: 50px;
    margin: auto;
    text-align: center;
}